.root {

  padding: 20px;
  background-color: rgba(255, 147, 40, 0.8);
  color: white;
  border-radius: 10px;

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 15px;

    &:hover {
      color: black;
    }
  }
}
